header {
    height: 70vh;
    display: -ms-grid;
    display: grid;
    grid-template-areas: "hero";
    place-items: center;
}

header>* {
    grid-row: 1;
    grid-column: 1;
    grid-area: hero;
}

header #hero-img {
    -o-object-fit: cover;
    object-fit: cover;
    height: 70vh;
    width: 100%;
}

header h1 {
    font-family: Garamond, serif;
    color: #0000009f;
    border-end-end-radius: 50% 30%;
    border-end-start-radius: 50% 30%;
    border-start-end-radius: 50% 30%;
    border-start-start-radius: 50% 30%;
}

header h5 {
    font-family: Garamond, serif;
    color: #0000008a;
}

#centerBtn {
    text-align: center;
}

#learnMore {
    max-width: 200px;
}