<header>

    <img id="hero-img" class="img-fluid" src="/assets/heroImage.jpg" alt="">

    <div class="col">
        <h1 class="shadow-lg p-3 mb-5 text-center">We are your ultimate experience <br> Winter experience Provider!</h1>
        <h5 class="text-center">With hundreds of winter holiday destinations to offer, we are <br> your natural choice for planning it all out!</h5>
        <div id="centerBtn">
            <button type="button" id="learnMore" class="btn btn-outline-dark text-center">Learn more</button>
        </div>

    </div>
</header>