<header>

    <img id="hero-img" class="img-fluid" src="/assets/heroImage.jpg" alt="">



    <div class="firstHero">
        <br><br><br>
        <br>
        <br>
        <br>
        <br>
        <h1 class="shadow-lg p-3 mb-5 text-center">We are your ultimate experience <br> Winter experience Provider!</h1>
        <h5 class="text-center">With hundreds of winter holiday destinations to offer, we are <br> your natural choice for planning it all out!</h5>
        <div id="centerBtn">
            <button type="button" id="learnMore" class="btn btn-outline-dark text-center">Learn more</button>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

        <div class="secondHero">
            <h4 id="h4" class="text-center">Why we're the Best</h4>
            <br>
            <br>
            <br>
            <br>
            <div class="card-container text-center">
                <div class="heroCard">
                    <i class="bi bi-building fa-2x"></i>
                    <p>Accomodation</p>
                    <p>We offer the finest selection of top hotels anywhere!</p>
                </div>

                <div class="heroCard">
                    <i class="fa fa-plane fa-3x"></i>
                    <p>Transportation</p>
                    <p>Whether it's about air tickets or shuttle bus, we will set it up!</p>
                </div>

                <div class="heroCard">
                    <i class="bi bi-people fa-2x"></i>
                    <p>Seasoned Agents</p>
                    <p>Combined, the experience our agents have is centuries!</p>
                </div>

                <div class="heroCard">
                    <i class="bi bi-star-fill fa-2x"></i>
                    <p>Easy Trip Planning</p>
                    <p>Our travel agents are always ready to plan your perfect trip!</p>
                </div>
            </div>
        </div>

    </div>
</header>