<!-- <p>home-page works!</p> -->
<div class="container">
    <div class="row">
        <div class="col-4">
            <div class="h1">{{destinationName1}}</div>
            <img class="destinImg" src="{{destinationImg1}}" width="50%">
            <p class="fw-semibold">{{destinationPrice1}} € </p>
            <p class="fw-semibold">{{destinationNights1}} Nights</p>
            <p class="fw-semibold">{{destinationCity1}}</p>
        </div>
        <div class="col-4">
            <div class="h1">{{destinationName2}}</div>
            <img class="destinImg" src="{{destinationImg2}}" width="50%">
            <p class="fw-semibold">{{destinationPrice2}} € </p>
            <p class="fw-semibold">{{destinationNights2}} Nights</p>
            <p class="fw-semibold">{{destinationCity2}}</p>
        </div>
        <div class="col-4">
            <div class="h1">{{destinationName3}}</div>
            <img class="destinImg" src="{{destinationImg3}}" width="50%">
            <p class="fw-semibold">{{destinationPrice3}} € </p>
            <p class="fw-semibold">{{destinationNights3}} Nights</p>
            <p class="fw-semibold">{{destinationCity3}}</p>
        </div>


    </div>
    <div class="row">
        <div class="col-4">
            <div class="h1">{{destinationName4}}</div>
            <img class="destinImg" src="{{destinationImg4}}" width="50%">
            <p class="fw-semibold">{{destinationPrice4}} € </p>
            <p class="fw-semibold">{{destinationNights4}} Nights</p>
            <p class="fw-semibold">{{destinationCity4}}</p>
        </div>
        <div class="col-4">
            <div class="h1">{{destinationName5}}</div>
            <img class="destinImg" src="{{destinationImg5}}" width="50%">
            <p class="fw-semibold">{{destinationPrice5}} € </p>
            <p class="fw-semibold">{{destinationNights5}} Nights</p>
            <p class="fw-semibold">{{destinationCity5}}</p>
        </div>
        <div class="col-4">
            <div class="h1">{{destinationName6}}</div>
            <img class="destinImg" src="{{destinationImg6}}" width="50%">
            <p class="fw-semibold">{{destinationPrice6}} € </p>
            <p class="fw-semibold">{{destinationNights6}} Nights</p>
            <p class="fw-semibold">{{destinationCity6}}</p>
        </div>
    </div>

</div>