<header>

    <img id="hero-img" class="img-fluid" src="/assets/heroImage.jpg" alt="">



    <div class="firstHero">
        <br><br><br>
        <br>
        <br>
        <br>
        <br>
        <h1 class="shadow-lg p-3 mb-5 text-center">We are your ultimate experience <br> Winter experience Provider!</h1>
        <h5 class="text-center">With hundreds of winter holiday destinations to offer, we are <br> your natural choice for planning it all out!</h5>
        <div id="centerBtn">
            <button type="button" routerLink="/about" id="learnMore" class="btn btn-outline-dark text-center">Learn more</button>
        </div>


    </div>
</header>

<div class="container">
    <div class="row">
        <div id="img1" class="col">
            <p>Murren, Switzerland</p>
        </div>
        <div id="img2" class="col">
            <p>Val d'Isere, France</p>
        </div>
        <div class="w-100"></div>
        <div id="img3" class="col">
            <p>Alta Badia, Italy</p>
        </div>
        <div id="img4" class="col">
            <p>The Arlberg, Austria</p>
        </div>
        <div class="w-100"></div>
        <div id="img5" class="col">
            <p>Sunshine Village, Canada</p>
        </div>
        <div id="img6" class="col">
            <p>
                Vail, Colorado</p>
        </div>
    </div>
</div>