<header>

    <img id="hero-img" class="img-fluid" src="/assets/heroImage.jpg" alt="">



    <div class="firstHero">
        <br><br><br>
        <br>
        <br>
        <br>
        <br>
        <h1 class="shadow-lg p-3 mb-5 text-center">We are your ultimate experience <br> Winter experience Provider!</h1>
        <h5 class="text-center">With hundreds of winter holiday destinations to offer, we are <br> your natural choice for planning it all out!</h5>
        <div id="centerBtn">
            <button type="button" routerLink="/about" id="learnMore" class="btn btn-outline-dark text-center">Learn more</button>
        </div>


    </div>
</header>

<div class="container">
    <div class="row gap-4">

        <div id="img1" class="col">
            <p id="price">Price/pers.</p>
            <p id="location">Murren <br> Switzerland</p>
        </div>

        <div id="img2" class="col">
            <p id="price">Price/pers.</p>
            <p id="location">Val d'Isere <br> France</p>
        </div>
        <div class="w-100"></div>

        <div id="img3" class="col">
            <p id="price">Price/pers.</p>
            <p id="location">Alta Badia <br> Italy</p>
        </div>

        <div id="img4" class="col">
            <p id="price">Price/pers.</p>
            <p id="location">The Arlberg <br> Austria</p>
        </div>
        <div class="w-100"></div>

        <div id="img5" class="col">
            <p id="price">Price/pers.</p>
            <p id="location">Sunshine Village <br> Canada</p>
        </div>

        <div id="img6" class="col">
            <p id="price">Price/pers.</p>
            <p id="location">Vail <br> Colorado</p>
        </div>
    </div>
</div>